# =========================
# 🔐 ENVIRONMENT VARIABLES
# =========================
.env
.env.*

# =========================
# 🐍 PYTHON CACHE
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# 🧪 VIRTUAL ENVIRONMENT
# =========================
venv/
env/
.venv/

# =========================
# 📦 STATIC / MEDIA FILES
# =========================
staticfiles/
media/

# =========================
# 🧾 LOG FILES
# =========================
*.log

# =========================
# 🧑‍💻 IDE / EDITOR
# =========================
.vscode/
.idea/

# =========================
# 🧑‍💻 OS FILES
# =========================
.DS_Store
Thumbs.db